*.pyd
*.pyc
*.pyz
*.toc
*.pkg
.DS_Store
__pycache__/
Patcher v2.1 Python/Actions_and_Stuff_RTX_Patcher v2.1/build/
Patcher v2.1 Python/Actions_and_Stuff_RTX_Patcher v2.1/dist/
Patcher v2.1 Python/Actions_and_Stuff_RTX_Patcher v2.1/libs/
